<!doctype html>
<html>
<head>
  <base href="/">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Simon Game</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css">
  <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:700,800|Catamaran:200,300,500|Rock+Salt">
  <link rel="stylesheet" href="/css/main.css">

  <!-- meta description -->
  <meta name="author" content="An Pham">
  <meta name="robots" content="index,follow" />
  
  <meta name="description" content="Simon game">
  <meta name="contact" content="hoakusa@gmail.com">
  <meta name="copyright" content="An Pham">

</head>
<body ng-app="app" ng-controller="AppController" ng-init="onLoad()">

<div class="background">
  <div class="container">
    <h1  class="header">Simon Game</h1>
    
    <div class="box">
      <div class="box-wrap">
        
        <div class="row">
          <div id="green" class="btn-press green" ng-click="select(0)"></div>
          <div id="red" class="btn-press red" ng-click="select(1)"></div>
        </div>
        <div class="row">
          <div id="yellow" class="btn-press yellow" ng-click="select(2)"></div>
          <div id="blue" class="btn-press blue" ng-click="select(3)"></div>
        </div>
        
        <div class="interface">
          <div class="interface-wrap">
            <div class="level">{{game.level}}</div>
            <div class="mode">
              <a class="start" id="start" ng-click="onStart()">Start</a>
              <a id="strict" ng-click="onStrict()" ng-class="isStrict ? 'strict-active' : 'strict-inactive'"></a>
            </div>
          </div>
        </div><!-- end interface -->
        
      </div>
    </div><!-- end box -->
    
    <h2 class="message" id="msg">{{msg}}</h2><!-- end message -->
    <a id="restart" ng-show="game.isWin" ng-click="onStart()">Replay <span class="ion-android-refresh"></span></a><!-- end replay-->

  </div><!-- end container -->
</div>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script> 
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
   

</body>
</html>